.h1 {
    font-size: 55px;
    font-weight: 800;
    text-transform: none;
    letter-spacing: -2px;
    color: #676767 !important;
    margin-top: 0;
    margin-bottom: 0;
}

.h1 .light {
    font-size: 48px;
    font-weight: inherit;
}