<div class="section sTop clearfix ">
    <a name="top"></a>
    <ul id="demo1">
        <li>
            <img src="/images/banner/1.jpg" alt="" />
            <div class="slide-desc">
                <p>
                    <span class="creative creative1">БЕСЕДКИ</span>
                    <span class="small-text">для полноценного комфортного отдыха</span>
                    <span class="creative creative1">СКАМЕЙКИ</span>
                </p>
                <!--<p class="small-text3">-->
                    <!--<strong>Богатый урожай!</strong><br>-->
                    <!--С 2006 года мы занимаемся обеспечением хорошего урожая.-->
                <!--</p>-->
            </div>
        </li>
        <li>
            <img src="/images/banner/2.jpg" alt="" />
            <div class="slide-desc">
                <p><span class="creative creative1">ЯРЧЕ</span> <span class="small-text">сделаем свой отдых</span> <span class="creative creative1">ВСЕ ЦВЕТА</span></p>
                <!--<p class="small-text3"><strong>Сотовый Поликарбонат.</strong><br> Более 10 лет компания «Кронос» радует сибиряков качественным листом.</p>-->
                <p class="small-text3">
                    <strong>Сотовый Поликарбонат.</strong><br>
                    Гарантия до 20 ЛЕТ!
                </p>
            </div>
        </li>
        <li>
            <img src="/images/banner/3.jpg" alt="" />
            <div class="slide-desc">
                <p>
                    <span class="creative creative1">НАДЕЖНАЯ</span>
                    <span class="small-text">альтернатива разрекламированной</span>
                    <span class="creative creative1">ТЕПЛИЦА</span>
                </p>
                <p class="small-text3">
                    <strong>Качественные и недорогие.</strong><br>
                    Реализуем только качественные и недорогие теплицы.
                </p>
            </div>
        </li>
    </ul>
    <br class="clear">
</div>