<div class="section s5" id="contact-us">
    <a name="contacts"></a>
    <section class="contact">
        <div id="fifth">
            <div class="patteren"></div>
            <div class="container">
                <div class="title animate fadeIn">
                    <div class="h1 light">Контакты</div>
                    <br/>
                    <div itemscope itemtype="http://schema.org/Organization">
                        <span itemprop="name">Магазин «Абрикос»</span>
                        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">

                            <div class="h3"><i class="fa fa-fw fa-map-marker"></i><span itemprop="postalCode">664024</span><span itemprop="addressLocality">, г. Иркутск,</span> <span itemprop="streetAddress">ул. Трактовая, 18/11</span><br/> <i class="fa fa-fw fa-phone"></i> <span itemprop="telephone">(3952) 96-03-31</span><br/> <i class="fa fa-fw fa-clock-o"></i> пн-пт: 10:00-18:00, сб: 10:00-16:00, вс: выходной</div>
                            <div class="h3"><i class="fa fa-fw fa-map-marker"></i><span itemprop="postalCode">664009</span>, г. Иркутск, <span itemprop="streetAddress"> Космический проезд, 4е</span><br/> <i class="fa fa-fw fa-phone"></i> <span itemprop="telephone">(3952) 72‒20‒72</span><br/> <i class="fa fa-fw fa-clock-o"></i> пн, вт, чт, пт: 10:00-18:00, сб: 10:00-16:00, ср, вс: выходной</div>
                            <p class="title-detail">Не хотите звонить, но есть вопросы?<br/>Не стесняйтесь, пишите что хотите, мы обязательно ответим на ваше письмо.</p>
                            <p class="icon-address"><a href="#bigmap" class="map-address"><i class="fa fa-4x fa-map-marker"></i><br/>Магазины на карте</a></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!--noindex-->
                        <div class="form animate bounceInUp">
                            <fieldset id="contact_form">
                                <div id="result"></div>
                                <input class="animate bounceIn" data-delay="500" type="text" name="name" id="name" placeholder="Ваше имя" />
                                <input class="animate bounceIn" data-delay="500" type="email" name="email" id="email" placeholder="Ваша электронная почта" />
                                <textarea class="animate bounceIn" data-delay="500" name="message" id="message" placeholder="Ваше сообщение"></textarea>
                                <label><span>&nbsp;</span>
                                    <button class="submit_btn animate swing" data-delay="1000" id="submit_btn">Отправить</button>
                                </label>
                            </fieldset>
                        </div>
                        <!--/noindex-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <span>
                        © 2012 - {{ site.time | date: '%Y' }} ООО «Абрикос». Все права защищены. <br>
                        Разработка и сопровождение: <a href="https://limydesign.ru" target="_blank">LimyDesign Studio</a>
                    </span>
                    <p>664024, г. Иркутск, ул. Трактовая, 18/11<br>
                        664009, г. Иркутск, Космический проезд, 4е</p>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Big Map Modal -->
<div class="hide">
    <div id="bigmap" style="z-index:9000">
        <a rel="nofollow" id="firmsonmap_biglink" href="https://2gis.ru/irkutsk/profiles/1548640652925844,1548640653284982/center/104.28840637207033,52.30260072696773/zoom/12">Перейти к большой карте</a><script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"width":640,"height":400,"borderColor":"#a3a3a3","pos":{"lat":52.30260072696773,"lon":104.28840637207033,"zoom":12},"opt":{"city":"irkutsk"},"org":[{"id":"1548640652925844"},{"id":"1548640653284982"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
    </div>
</div>
<!-- End Big Map -->