<div id="sponsors">
    <section class="sponsors">
        <div class="patteren"></div>
        <div id="third">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="space"></div>
                        <div class="h1 light">Благодарственные письма</div>
                        <br/>
                        <div class="h1 sponsor">Хорошие цены и качественные материалы — труд многих лет</div>
                        <div id="carousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators spons">
                                <li data-target="#carousel" data-slide-to="0" class="active">
                                    <img class="pro-logo lazy" data-original="images/kronos.png" alt="">
                                </li>
                                <li data-target="#carousel" data-slide-to="1">
                                    <img class="pro-logo lazy" data-original="images/pokolenie.png" alt="">
                                </li>
                                <li data-target="#carousel" data-slide-to="2">
                                    <img class="pro-logo lazy" data-original="images/nmz.png" alt="">
                                </li>
                                <li data-target="#carousel" data-slide-to="3">
                                    <img class="pro-logo lazy" data-original="images/pokolenie.png" alt="">
                                </li>
                            </ol>
                            <div class="carousel-inner spon-detail">
                                <div class="item active">
                                    <p> Одни из самых любимых дилеров в этом регионе. Мы давно уже работаем с этой
                                        компанией и за это время мы каждый год все больше и больше укрепляем наши
                                        отношения. Несмотря на некоторые трудности, этот дилер не сдает позиции
                                        лидерства.

                                        <span class="rating">ООО «Кронос-Трейд» г. Иркутск</span>
                                    </p>
                                </div>
                                <div class="item">
                                    <p> Выражаем огромную благодарность магазину «Абрикос» и в частности директору
                                        Ковалёву Игорю Александровичу за оказанное содействие в проведении фестиваля «За
                                        Россию, Десант и Спецназ», посвященного 67-летию дня Победы.

                                        <span class="rating">Благотворительный фонд «Байкал интеграция» г. Иркутск</span>
                                    </p>
                                </div>
                                <div class="item">
                                    <p> За все время сотрудничества мы поняли, что этот дилер один из самых надежный и
                                        постоянный наших партнеров. За годы работы мы не раз отмечали этот магазин
                                        благодарственными письмами и думается еще не раз отметим благодарностью данный
                                        магазин.

                                        <span class="rating">ООО «Нефтекамский механический завод» г. Нефтекамск</span>
                                    </p>
                                </div>
                                <div class="item">
                                    <p> Благодарность за оказанную помощь в реализации федерального проекта «Байкал и
                                        Крым зажигает огни» организованного с целью поддержки детского и юношеского
                                        творчества в рамках акции «Благотворительность детям» посвящённого 70-летию
                                        Великой Победы.

                                        <span class="rating">Благотворительный фонд «Байкал интеграция» г. Иркутск</span>
                                    </p>
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>