<div class="subMenu index3-nav" style="position: absolute; top: 40px;">
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Переключить навигацию</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <img class="tel logo2" src="{{ site.logo }}" href="#telephone" alt="">

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="navigation">
                    <ul class="nav navbar-nav navbar-nav2">
                        <li><a id="sTop" href="#." class="subNavBtn">Главная</a> </li>
                        <li><a id="s2" href="#.">Продукция</a></li>
                        <li><a id="s3" href="#.">Цены</a></li>
                        <li><a id="s1" href="#.">О нас</a></li>
                        <li><a id="s4" href="#.">Новости</a></li>
                        <li><a id="s5" href="#." class="end">Контакты</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
            <!-- /.container-fluid -->
        </nav>
    </div>
    <div class="clearfix"></div>
</div>

<div class="hide">
    <div id="telephone" style="text-align:center;font-size:18px;z-index:9000">
        <p><img src="{{ site.logo }}" alt=""></p>
        <div class="h1 light">Космический&nbsp;проезд,&nbsp;4е</div><br>
        <div class="h1">+7 (3952) 72-20-72</div><br>
        <div class="h1 light">ул.&nbsp;Трактовая,&nbsp;18/11</div><br>
        <div class="h1">+7 (3952) 96-03-31</div><br>
        <div class="h1 light">Факс</div><br>
        <div class="h1">+7 (3952) 63-12-66</div><br>
    </div>
</div>