<div class="section s3" id="table">
    <a name="price"></a>
    <section class="pricing">
        <div class="container">
            <div class="row">
                <div class="title animate fadeIn">
                    <div class="h1 light">Прайсы на продукцию</div>
                    <br/>
                    <div class="h1">Розничные цены</div>
                    <p class="title-detail">Цены указанные в прайс-листах могут отличаться от действующих.
                        <br/>Мы настоятельно рекомендуем проконсультироваться по телефону: <b> (3952) 72-20-72</b> или <b>(3952) 96-03-31</b></p>
                </div>
                <div class="col-md-4">
                    <div class="table animate fadeInLeftBig" data-delay="500">
                        <div class="h2">Сотовый поликарбонат</div>
                        <div class="price"><span></span></div>
                        <ul>
                            <li>«Матадор» г. Омск</li>
                            <li>«Солярис» г. Омск</li>
                            <li>«Кронос» г. Омск</li>
                            <li>Прозрачный и цветной</li>
                            <li>Монолитный поликарбонат</li>
                            <li>Комплектующие для СПК</li>
                        </ul>
                        <a href="/files/price-SPK.pdf" id="priceDownload-SPK"
                           onclick="yaCounter35936910.reachGoal('price_cor'); return true;">Скачать прайс</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="table blue-table animate fadeIn" data-delay="2000">
                        <div class="h2">Теплицы и парники</div>
                        <div class="price"> <span></span> </div>
                        <ul>
                            <li>Теплица «Алтайская»</li>
                            <li>Теплица «Воля»</li>
                            <li>Теплица «Стрелка»</li>
                            <li>Теплица «Двушка»</li>
                            <li>Теплица «Мария-Делюкс»</li>
                            <li>&hellip;и другие&hellip;</li>
                        </ul>
                        <a href="/files/price-teplizy.pdf" id="priceDownload-Teplizy"
                           onclick="yaCounter35936910.reachGoal('price_tep'); return true;">Скачать прайс</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="table animate fadeInRightBig" data-delay="1000">
                        <div class="h2">Популярная продукция</div>
                        <div class="price"> <span></span> </div>
                        <ul>
                            <li>Беседки</li>
                            <li>Душевые кабины</li>
                            <li>Баки</li>
                            <li>Ёмкости</li>
                            <li>Автонавесы</li>
                            <li>Детские спортивные комплекты</li>
                        </ul>
                        <a href="#other-price" class="fancybox"
                           onclick="yaCounter35936910.reachGoal('price_pop'); return true;">Скачать прайс</a>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:auto;height:auto;overflow:auto;position:relative;" class="hide">
            <div id="other-price" style="text-align:center;font-size:18px;">
                <p><img src="{{ site.logo }}" alt=""></p>
                <div class="h1">Прайс-листы</div><br>
                <div class="h1 light">на другую популярную продукцию</div>
                <div class="h3">Файлы для скачивания</div>
                <div class="list-group">
                    <a href="/files/price-SPK.pdf" class="list-group-item">
                        <i class="fa fa-file-pdf-o fa-3x pull-left"></i>
                        <div class="h4 list-group-item-heading">Беседки, душевые кабины, баки, ёмкости, мусорные баки</div>
                        Цены приведены для ознакомления. Уточняйте точную стоимость в магазине.
                    </a>
                </div>
                <div class="list-group">
                    <a href="/files/price-dsk.pdf" class="list-group-item" id="priceDownload-DSK">
                        <i class="fa fa-file-pdf-o fa-3x pull-left"></i>
                        <div class="h4 list-group-item-heading">Детские спортивные комплексы для дома</div>
                        Цены приведены для ознакомления. Уточняйте точную стоимость в магазине.
                    </a>
                </div>
                <div class="list-group">
                    <a href="/files/price-udsk.pdf" class="list-group-item" id="priceDownload-UDSK">
                        <i class="fa fa-file-pdf-o fa-3x pull-left"></i>
                        <div class="h4 list-group-item-heading">Уличные детские спортивные комплексы</div>
                        Цены приведены для ознакомления. Уточняйте точную стоимость в магазине.
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>